.container{
	width: 700px;
	background-color:#fffdf5;
	margin: 0 auto;
	height: 310px;
}

table th{
	font-weight: normal;
	border-bottom: 2px solid maroon;
}

table,tr,td,th{
	border-collapse: collapse;
	border-spacing: 0;
	
}

table td,table th{
/*	border:1px solid #000;
*/	padding: 10px;
} 

table th{

	background: #fffdf5;
	color:black;
	font-size: 12px;
}

tbody tr td{
	font-style: normal;
	text-align: center;
	
}

